@import url('https://fonts.googleapis.com/css?family=Questrial');

*, body{
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  background-image: url('https://bit.ly/2DvDpq0');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin: 0%
}

.contenido{
width: 100%;
text-align: center;
}


